body {
  font-family: fantasy;
  padding: 0;
  margin: 0;
}

img {
  position: relative;
  z-index: -1;
  display: block;
  width: 100%;
  object-fit: cover;
}

#navbar {
  overflow: hidden;
  background-color: rgba(51, 51, 51, 0.301);
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover {
  color: rgb(197, 197, 197);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.content {
  padding: 16px;
}

.background {
  left: 0;
  right: 0;
  bottom: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: orange;
}

.flex-container > div {
  background-color: grey;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
